body{
	background-color: aliceblue;
}
.main{
	margin: 20px auto;
	width: 980px;
	height: 500px;
	background-color: white;
}
.left{
	width: 490px;
	float: left;
	/* background-color: aliceblue; */
}
.right{
	width: 490px;
	float: left;
	/* background-color: antiquewhite; */
}
.inner{
	width: 440px;
	height: 440px;
	margin: 30px 25px;
}
.title{
	height: 40px;
	background-color: #0081cc;
	padding-top: 5px;
	text-align: center;
}
.form{
	width: 300px;
	height: 40px;
	margin: 20px auto;
}
.iden_img{
	width: 224px;
	height: 224px;
	margin: 20px auto 0px;
}
.identify{
	margin-top: 5px;
	text-align: center;
}
#container{
	position: relative;
	right: 40px;
	width: 500px;
}