*{
    padding: 0;
    margin: 0;
}
a:link,a:visited{
	color: azure;
	text-decoration: none;
}
.nav{
    text-align: center;
    height: 50px;
    width: 100%;
    background: #0081cc;
}
.nav0{
	/* height: 40px; */
	padding: 11px;
	width: 120px;
	font-size: 17px;
	float: left;
	text-align: center;

}
.nav1{
    /* height: 40px; */
	padding: 11px;
    width: 120px;
	font-size: 17px;
    float: right;
    text-align: center;

}