<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生注册</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        证件照：<input type="file" name="img">
    用户名：<input type="text" name="user"/><br/>
    姓名：<input type="text" name="name"/><br/>
    年龄：<input type="text" name="age"/><br/>
    密码：<input type="password" name="password1"><br/>
    再输入一次密码<input type="password" name="password2"><br/>
    职称：<input type="text" name="ranks"/><br/>
    专业：<input type="text" name="subject"/><br/>
        个人简介：<input type="text" name="doc_text" />
    <input type="submit" name="提交">
</form>
{% if messages %}
<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
</body>
</html>