<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>注册</title>
        <link href="{% static 'css/head.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
<form action="register_submit/" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="user"/><br/>
    姓名：<input type="text" name="name"/><br/>
    年龄：<input type="text" name="age"/><br/>
    密码：<input type="password" name="password1"><br/>
    再输入一次密码<input type="password" name="password2"><br/>
    性别：<input type="radio" name="sex" value="男">
    <input type="radio" name="sex" value="女"><br/>
    地址：<input type="text" name="address"/><br/>
    联系方式：<input type="text" name="phone"/>
    <input type="submit" name="提交">
</form>
{% if messages %}
<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
</body>
</html>